@charset 'UTF-8';

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
html
{
	height: 100%;
}

body
{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: #202020 url(images/background-stars-25.jpg) repeat;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 11pt;
	line-height: 1.75em;
}

hr
{
	color: #FFF;
	border-width: thin;
	border-style: solid;
}

h1,h2,h3,h4,h5,h6
{
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 300;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
	color: inherit;
	text-decoration: none;
}

/* Change this to whatever font weight/color pairing is most suitable */
strong, b
{
	font-weight: bold;
	color: #000000;
}

em, i
{
	font-style: italic;
}

p, ul, ol, dl, table
{
	margin-bottom: 1em;
	color: #fff;
}

/*********************************************************************************/
/* Container                                                                     */
/*********************************************************************************/

.container {
    margin-left: auto;
    margin-right: auto;
	height: inherit;
    width: 1200px;
}

/*********************************************************************************/
/* row                                                                           */
/*********************************************************************************/

.row
{
	background: inherit;
	width: inherit;
	margin: inherit;
	display: block;
	position: relative;
	height: 200px;
}

.row-last
{
	border-style: solid;
	border-color: #FFFFFF;
	border-bottom: medium;
	width: inherit;
	margin: inherit;
	display: block;
	position: relative;
	height: 200px;
}

.row-last::after {
  content: "";
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center; }

.row::after {
  content: "";
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center; }



/*********************************************************************************/
/* Overlay                                                                       */
/*********************************************************************************/

.overlay-header
{
	padding: 1em 3em;
	border-style: solid;
	border-left-style: hidden;
	border-right-style: hidden;
	border-color: #FFF;
	color: #FFF;
}

#row-tile-overlay
{
	background-color:rgba(0,0,0,0.85);
	border-style: solid;
	border-bottom-style: hidden;
	border-top-style: hidden;
	border-color: #FFFFFF;
	border-left-width: medium;
	height: inherit;
}

#row-tile-overlay-last{
	border-style: solid;
	border-color: #FFFFFF;
	border-top-style: hidden;
	background-color:rgba(0,0,0,0.85);
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

header
{
	background: #FFF;
	position: relative;

}

header .container
	{
		position: relative;
		padding: 4em 0em;
	}

/*********************************************************************************/
/* div id="Logo"                                                                 */
/*********************************************************************************/

#logo
{
	position: absolute;
	left: 0em;
	top: 2em;
}

#logo h1
{
}

#logo a
{
	display: block;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 600;
}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

nav
{
	position: absolute;
	right: 0em;
	top: 1.2em; /*2em - span padding = 1.2 em*/
}

nav ul {
	list-style-type: none;
}

nav ul li
{
	float: left;
}

nav ul li:last-child
{
	padding-right: 0;
}

nav ul li a
{
	display: block;
	margin-left: 0.7em;
	padding: 0.80em 1.2em;
	letter-spacing: 0.06em;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.1em;
	outline: 0;
	color: #333;
}

nav li.active a
{
	background: #e95d3c;
	border-radius: 5px;
	color: #FFF;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/
	
main
{
	position: relative;
	color: #FFF;
	flex: 1;
}

main .container
{
	position: relative;
	height: 500px;
	padding: 5em 0em;
}

/*********************************************************************************/
/* Portrait                                                                      */
/*********************************************************************************/
	
.portrait
{
	position: absolute;
	left: 0em;
	padding: 0em;
}

.portrait img
{
    padding: 0em;
    display: block;
    border-radius: 100%;
}

#portrait-ed
{
	padding: 1.5em;
	left: 10em;
}

#portrait-research
{
	padding: 1em;
	left: 10em;
}

#portrait-main
{
	padding-top: 5em;
	left: 7em;
}

/*********************************************************************************/
/* Info box                                                                      */
/*********************************************************************************/

.info-box
{
	position: absolute;
	right: 0em;
	width: 600px;
	padding: 0em 2em;
	color: #fff;
}
.info-box p 
{
	text-indent: 1.5em;
}

.info-box a
{
	display: block;
	letter-spacing: 0.06em;
	text-decoration: none;
	text-transform: uppercase;
	outline: 0;
	color: #CC99CC;
}

.info-box a:hover
{
	text-decoration: underline;
}

#info-ed, #info-ed-uofu
{
	right: 10em;
}

#info-re
{
	right: 100px;
	margin-left:auto;
	margin-right:auto;
	width: 950px;
	color: #FFF; 
}

#info-re h3
{
	text-indent: 0;
	padding-left: 200px;
	color: #fff;
}

#info-re p, #info-re ul
{
	text-indent: 0;
	padding-left: 200px;
	color: #fff;/*#D4D4D4*/
}

#info-re a:hover
{
	color: #EB84EB;
}

#info-re .re
{
	padding-left: 225px;
}

#info-re ul
{
	padding-left: 4em;
}

#info-ed-uofu
{
	padding-top: 1em;
}

#info-ed-uofu h3, #info-re h3, #info-re a, .p-inline
{
	display: inline;
    vertical-align: top;
	text-transform: none;
}

#info-re .p-inline
{
	padding-left: 0.5em;
	color: #fff;/*#D4D4D4;*/
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
footer
{
	background: #FFF;
	position: relative;

}

footer .container
{
	position: relative;
	padding: 0em 0em;
	text-align: center;
}

